In [ ]:
import pandas as pd 
df = pd.read_csv('netflix_titles.csv')

In [ ]:
# 1. Посмотрите на данные: df.head(), df.info(), df.describe()
df.head(3)

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [ ]:
#Можно посмотреть на последние 3 строки:
df.tail(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [ ]:
#Посмотреть количество строк и столбцов:
df.shape

(8807, 12)

In [14]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
#Посмотреть уникальные значения в столбце 'type':
df['type'].unique()
#Посмотреть количество уникальных значений в столбце 'type':
df['type'].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [26]:
#Делаем фильтр только для фильмов:
movies = df[df['type'] == 'Movie']
#Делаем фильтр только для сериалов:
serials = df[df['type'] == 'TV Show']
#Смотрю кол-во фильмов и сериалов:
print(f'Всего фильмов: {len(movies)}')
print(f'Всего сериалов: {len(serials)}')

Всего фильмов: 6131
Всего сериалов: 2676

In [27]:
#Фильмы по годам:
minimal_year = df['release_year'].min()
maximal_year = df['release_year'].max()
media_year = df['release_year'].median()
print(f'Самый старый фильм в {minimal_year} году')
print(f'Самый свежий фильм в {maximal_year} году')
print(f'Медиана года выпуска фильмов: {media_year}')

Самый старый фильм в 1925 году
Самый свежий фильм в 2021 году
Медиана года выпуска фильмов: 2017.0

In [37]:
#1) Базовая статистика:
content_quantity = df['type'].value_counts()
print(f'Всего контента: {len(df)}')

movies_quantity = df[df['type'] == 'Movie'].shape[0]
serials_quantity = df[df['type'] == 'TV Show'].shape[0]
print(f'Всего фильмов: {movies_quantity}')
print(f'Всего сериалов: {serials_quantity}')

print('соотношение фильмов и сериалов =', movies_quantity/serials_quantity)

Всего контента: 8807
Всего фильмов: 6131
Всего сериалов: 2676
соотношение фильмов и сериалов = 2.2911061285500747